<section class="courses_features">
  <div class="container">
    <div class="row">
      <% Array(10).fill(0).forEach(element => { %>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 single_features_wrapper">
            <div class="feature_single feature_single">
              <img src="/assets/images/features/courses_provide_1.jpg" alt="" />
              <div class="feature_content">
                <a href="/cours/single" title=""><h3>Design</h3></a>
                <p>Over 700 Courses</p>
              </div>
          </a>
        </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>
<!-- End Courses Features -->
