<section class="popular_courses">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Our Courses</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/banner/banner_2.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn"
                ><i class="fas fa-signal"></i>Beginner</a
              >
              <span><i class="fa fa-clock"></i> 5min</span>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3>
                <a href="#">Make Better Decisions make Better Decisions</a>
              </h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">Jhonthan Smith</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-cubes"></i
                  ><a class="category_name" href="#" title="">Histoire</a>
                </li>
              </ul>
              <a href="#" class="cart_btn">Commencer</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/courses/courses_2.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn"
                ><i class="fas fa-signal"></i>Beginner</a
              >
              <span><i class="fa fa-clock"></i> 5min</span>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3>
                <a href="#">Better Decisions make Better Decisions</a>
              </h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">Jhonthan Smith</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-cubes"></i
                  ><a class="category_name" href="#" title="">Histoire</a>
                </li>
              </ul>
              <a href="#" class="cart_btn">Commencer</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/courses/courses_3.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn"
                ><i class="fas fa-signal"></i>Beginner</a
              >
              <span><i class="fa fa-clock"></i> 5min</span>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3>
                <a href="#">Brand Management make Better Decisions</a>
              </h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">Jhonthan Smith</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-cubes"></i
                  ><a class="category_name" href="#" title="">Histoire</a>
                </li>
              </ul>
              <a href="#" class="cart_btn">Commencer</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/courses/courses_4.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn">250$</a>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3><a href="#">Brand Management</a></h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">John Porter</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li><i class="fas fa-calendar-alt"></i> 130 Days</li>
                <li><i class="fa fa-user"></i>45 Students</li>
              </ul>
              <a href="#" class="cart_btn">Add to Cart</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/courses/courses_5.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn">180$</a>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3><a href="#">Moralities Of Everyday</a></h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">Mittie Hill</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li><i class="fas fa-calendar-alt"></i> 190 Days</li>
                <li><i class="fa fa-user"></i>40 Students</li>
              </ul>
              <a href="#" class="cart_btn">Add to Cart</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="single-courses">
          <div class="courses_banner_wrapper">
            <div class="courses_banner">
              <a href="#"
                ><img
                  src="/assets/images/courses/courses_6.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="purchase_price">
              <a href="#" class="read_more-btn">130$</a>
            </div>
          </div>
          <div class="courses_info_wrapper">
            <div class="courses_title">
              <h3><a href="#">Life Coach Training</a></h3>
              <div class="teachers_name">
                Teacher - <a href="#" title="">Marian Dupre</a>
              </div>
            </div>
            <div class="courses_info">
              <ul class="list-unstyled">
                <li><i class="fas fa-calendar-alt"></i> 150 Days</li>
                <li><i class="fa fa-user"></i>30 Students</li>
              </ul>
              <a href="#" class="cart_btn">Add to Cart</a>
            </div>
          </div>
        </div>
        <!-- Ends: .single courses -->
      </div>
      <!-- Ends: . -->
      <%- include('./paginate')%>
    </div>
  </div>
</section>
<!-- Ends: Pupular Courses -->
