<div class="col-12 col-sm-12 col-md-8 col-lg-8">
  <div class="courses_details">
    <div class="single-curses-contert">
      <h2>WordPress: Step by Step for Beginners</h2>
      <div class="review-option">
        <div class="teacher-info single_items single_items_shape"></div>
      </div>
      <div class="details-img-bxo">
        <img src="/assets/images/blog/blog3-1.jpg" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="courses_tab_wrapper">
      <div class="courses_details_nav_tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#information"
              role="tab"
              data-toggle="tab"
              >Information</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curricularm" role="tab" data-toggle="tab"
              >Curricularm</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#instructor" role="tab" data-toggle="tab"
              >Instructor</a
            >
          </li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab_contents tab-content">
        <div
          role="tabpanel"
          class="tab-pane fade in active show"
          id="information"
        >
          <h3>Courses Description <span>:</span></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
          <h3>What Will I Learn? <span>:</span></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
          <ul class="step_point">
            <li>
              Create static HTML and CSS portfolio sites and landing pages.
            </li>
            <li>
              Think like a developer. Become an expert at Googling code
              questions!
            </li>
            <li>
              Write complex web apps with multiple models and data associations.
            </li>
            <li>
              Create a blog application from scratch using Express, MongoDB, and
              Semantic UI.
            </li>
            <li>
              Use Express and MongoDB to create full-stack JS applications.
            </li>
          </ul>
          <h3>Learning Outcomes <span>:</span></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
          <ul class="step_point">
            <li>Over 37 lectures and 55.5 hours of content!</li>
            <li>LIVE PROJECT End to End Software Testing Training Included.</li>
            <li>
              Learn Software Testing and Automation basics from a professional
              trainer from your own desk.
            </li>
            <li>
              Information packed practical training starting from basics to
              advanced testing techniques.
            </li>
            <li>
              Best suitable for beginners to advanced level users and who learn
              faster when demonstrated.
            </li>
            <li>
              Course content designed by considering current software testing
              technology and the job market.
            </li>
            <li>Practical assignments at the end of every session.</li>
            <li>
              Practical learning experience with live project work and examples.
            </li>
          </ul>
          <div class="social_wrapper d-flex">
            <span>Partager : </span>
            <ul class="social-items d-flex list-unstyled">
              <li>
                <a
                  target="_blank"
                  href="http://www.facebook.com/sharer/sharer.php?u=https://semainedelasciencerdc.org"
                  ><i class="fab fa-facebook-f fb_icon"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="http://twitter.com/intent/tweet?original_referer=https://semainedelasciencerdc.org"
                  ><i class="fab fa-twitter tw_icon"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="http://www.linkedin.com/shareArticle?mini=true&url=https://semainedelasciencerdc.org"
                  ><i class="fab fa-linkedin-in link_icon"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="curricularm">
          <div class="curriculum-text-box">
            <div class="curriculum-section">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title click">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse1"
                        class=""
                      >
                        1. Welcome to the Courses<span>0/5</span></a
                      >
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in show">
                    <div class="panel-body">
                      <div class="curriculum-single">
                        <div class="lecture">
                          <span
                            ><i class="fa fa-file-text-o"></i>Lecture 2. 1</span
                          >
                          <span
                            ><i class="fa fa-clock-o"></i>Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit.</span
                          >
                        </div>
                        <a href="#">Télécharger</a>
                      </div>
                      <div class="curriculum-single">
                        <div class="lecture">
                          <span
                            ><i class="fa fa-file-text-o"></i>Lecture 3. 1</span
                          >
                          <span
                            ><i class="fa fa-clock-o"></i>Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit.</span
                          >
                        </div>
                        <a href="#">Télécharger</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse2"
                        class="collapsed"
                      >
                        2. How to use Wordpress<span>0/4</span></a
                      >
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Eaque qui debitis quo rerum. Maiores nobis neque
                        labore incidunt! Esse minima placeat blanditiis dicta
                        et, doloremque dolore ipsum mollitia excepturi eveniet?
                      </p>

                      <h2>Lorem ipsum dolor sit amet.</h2>

                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        A autem ipsa non consectetur, voluptate numquam
                        laudantium? Inventore corporis, ullam ea possimus
                        aperiam totam iusto ducimus molestiae fugiat iure
                        voluptates distinctio deleniti molestias fuga ratione
                        voluptatem neque magnam beatae harum! Impedit
                        reprehenderit ipsam dolorem! Rerum enim ratione culpa
                        accusamus, adipisci et.
                      </p>
                      <h2></h2>
                      <div class="curriculum-single">
                        <div class="lecture">
                          <span
                            ><i class="fa fa-file-text-o"></i>Lecture 2. 1</span
                          >
                          <span
                            ><i class="fa fa-clock-o"></i>Duration: 30mins</span
                          >
                        </div>
                        <a href="#">Télécharger</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse3"
                        class="collapsed"
                      >
                        3. Final chapters<span>0/3</span></a
                      >
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <h3>
                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                      </h3>
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Eaque qui debitis quo rerum. Maiores nobis neque
                        labore incidunt! Esse minima placeat blanditiis dicta
                        et, doloremque dolore ipsum mollitia excepturi eveniet?
                      </p>

                      <h2>Lorem ipsum dolor sit amet.</h2>

                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        A autem ipsa non consectetur, voluptate numquam
                        laudantium? Inventore corporis, ullam ea possimus
                        aperiam totam iusto ducimus molestiae fugiat iure
                        voluptates distinctio deleniti molestias fuga ratione
                        voluptatem neque magnam beatae harum! Impedit
                        reprehenderit ipsam dolorem! Rerum enim ratione culpa
                        accusamus, adipisci et.
                      </p>
                      <h2></h2>
                      <div class="curriculum-single">
                        <div class="lecture">
                          <span
                            ><i class="fa fa-file-text-o"></i>Lecture 2. 1</span
                          >
                          <span
                            ><i class="fa fa-clock-o"></i>Duration: 30mins</span
                          >
                        </div>
                        <a href="#">Télécharger</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .curriculum-section-text END -->
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="instructor">
          <div class="courses_teacher">
            <div class="tutor_signle">
              <div class="tutor_pro">
                <a href="#" title=""
                  ><img
                    src="/assets/images/team/team_1.jpg"
                    alt=""
                    class="img-fluid"
                /></a>
              </div>
              <div class="teachers_name">
                <h5><a href="#" title="">Jonson Park</a></h5>
                <span>Associate Professor</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
