<section class="blog_wrapper" id="courses_details_wrapper">
  <div class="container">
    <div class="row">
      <%- include('./coursDetails') %>
      <!--End Blog Siderbar Left-->
      <%- include('./coursAside') %>
    </div>
  </div>
</section>
<!-- ./ End  Blog Wrapper-->
