<div class="col-12 col-sm-12 col-md-4 col-lg-4 blog_wrapper_right">
  <div class="blog-right-items">
    <div class="courses_features widget_single">
      <div class="items-title">
        <h3 class="title">Courses Features</h3>
      </div>
      <div class="features_items">
        <ul class="list-unstyled">
          <li>
            <a href="#" title=""><i class="flaticon-page"></i> Leçons </a
            ><span>69</span>
          </li>
          <li>
            <a href="#" title=""
              ><i class="flaticon-clock-circular-outline"></i> Durée</a
            ><span>5H</span>
          </li>
          <li>
            <a href="#" title=""><i class="flaticon-padlock"></i> Prérequis</a
            ><span>No</span>
          </li>
          <li>
            <a href="#" title=""><i class="flaticon-language"></i> Langue</a
            ><span>Eng</span>
          </li>
          <li>
            <a href="#" title=""
              ><i class="flaticon-thumbs-up-hand-symbol"></i> Compétences</a
            ><span>Any</span>
          </li>
        </ul>
      </div>
      <img
        src="/assets/images/shapes/testimonial_2_shpe_2.png"
        alt=""
        class="courses_feaures_shpe"
      />
    </div>

    <div class="recent_post_wrapper popular_courses_post widget_single">
      <div class="items-title">
        <h3 class="title">Voir aussi</h3>
      </div>

      <% Array(3).fill('').forEach(element => { %>
      <div class="single-post">
        <div class="recent_img">
          <a href="/cours/single" title=""
            ><img
              src="/assets/images/courses/spi-01.jpg"
              alt=""
              class="img-fluid"
          /></a>
        </div>
        <div class="post_title">
          <a href="/cours/single" title=""
            >How to Become Master In CSS within qa Week.</a
          >
          <div class="courses_price">
            <div class="price">
              <span><i class="fa fa-cubes"></i></span
              ><span class="new_price"
                ><a href="/categories/cours/single">Math</a></span
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <div class="archives widget_single">
      <div class="items-title">
        <h3 class="title">Toutes catégories</h3>
      </div>
      <div class="archives-items">
        <ul class="list-unstyled">
          <li><a href="/categories/cours/single" title="">Art & Design </a></li>
          <li><a href="/categories/cours/single" title="">Busness</a></li>
          <li><a href="/categories/cours/single" title="">IT & Software</a></li>
          <li><a href="/categories/cours/single" title="">Languages</a></li>
          <li><a href="/categories/cours/single" title="">Technology</a></li>
          <li><a href="/categories/cours/single" title="">Programming</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Right Sidebar-->
