<header class="header_inner about_page header_tow">
  <%- include('../headerTop') %> <%- include('../header') %>
  <div class="intro_wrapper" style="background: black!important;     padding: 120px 0 0 0;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="intro_text" style="text-align: center;">
            <h1>Nos cours</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
