<div class="wrapper">
<footer class="footer mt-40">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer_bottm">
          <div class="row">
            <div class="col-md-6">
              <ul class="fotb_left">
                <li>
                  <a href="/backoffice">
                    <div class="footer_logo">
                      <img src="/assets/admin/images/logo1.svg" alt="" />
                    </div>
                  </a>
                </li>
                <li>
                  <p>
                    © <%= new Date().getFullYear() %>
                    <b>SST8</b> Designed By
                    <b><a href="http://uptodatedevelopers.com" style="color: #fff;" target="_blank" rel="noopener noreferrer">Uptodate Developers</a></b>. All Rights Reserved.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="edu_social_links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
