<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, shrink-to-fit=9" />
<meta name="description" content="Gambolthemes" />
<meta name="author" content="Gambolthemes" />
<title>Professeur - Dashboard</title>

<link rel="icon" type="image/png" href="/assets/admin/images/fav.png" />

<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/assets/css/assets/bootstrap.min.css" />
<!-- Font awsome CSS -->
<link rel="stylesheet" href="/assets/css/assets/font-awesome.min.css" />

<link rel="stylesheet" href="/assets/css/assets/flaticon.css" />

<link
  href="/assets/admin/vendor/unicons-2.0.1/css/unicons.css"
  rel="stylesheet"
/>
<link
  href="/assets/admin/css/vertical-responsive-menu1.min.css"
  rel="stylesheet"
/>
<link href="/assets/admin/css/instructor-dashboard.css" rel="stylesheet" />
<link href="/assets/admin/css/instructor-responsive.css" rel="stylesheet" />
<link href="/assets/admin/css/night-mode.css" rel="stylesheet" />

<link href="/assets/admin/css/style.css" rel="stylesheet" />
<link href="/assets/admin/css/responsive.css" rel="stylesheet" />

<link
  href="/assets/admin/vendor/fontawesome-free/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="/assets/admin/vendor/OwlCarousel/assets/owl.carousel.css"
  rel="stylesheet"
/>
<link
  href="/assets/admin/vendor/OwlCarousel/assets/owl.theme.default.min.css"
  rel="stylesheet"
/>
<link
  href="/assets/admin/vendor/bootstrap/css/bootstrap.min.css"
  rel="stylesheet"
/>

<link href="/assets/admin/css/jquery-steps.css" rel="stylesheet" />

<link
  rel="stylesheet"
  type="text/css"
  href="/assets/admin/vendor/semantic/semantic.min.css"
/>


<link href="/assets/admin/css/custom.css" rel="stylesheet" />

<script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>
