
<div class="wrapper _bg4586">
      <div class="_216b01">
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-md-10">
              <div class="section3125 rpt145">
                <div class="row">
                  <div class="col-lg-7">
                    <a href="#" class="_216b22">
                      <span><i class="uil uil-cog"></i></span>Setting
                    </a>
                    <div class="dp_dt150">
                      <div class="img148">
                        <img src="/assets/admin/images/hd_dp.jpg" alt="" />
                      </div>
                      <div class="prfledt1">
                        <h2>Joginder Singh</h2>
                        <span>UI / UX Designer and Web Developer</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <a href="/backoffice/setting" class="_216b12">
                      <span><i class="uil uil-cog"></i></span>Setting
                    </a>
                    <div class="rgt-145">
                      <ul class="tutor_social_links">
                        <li>
                          <a href="#" class="fb"
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" class="tw"
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" class="ln"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" class="yu"
                            ><i class="fab fa-youtube"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <ul class="_bty149">
                      <li>
                        <button
                          class="studio-link-btn btn500"
                          onclick="window.location.href = '/backoffice';"
                        >
                          Dashboard
                        </button>
                      </li>
                      <li>
                        <button
                          class="msg125 btn500"
                          onclick="window.location.href = '/backoffice/setting';"
                        >
                          Edit
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_215b17">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="course_tab_content">
                <div class="_htg451">
                  <div class="_htg452">
                    <h3>About Me</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Vestibulum scelerisque nibh sed ligula blandit,
                      quis faucibus lorem pellentesque. Suspendisse pulvinar
                      dictum pellentesque. Vestibulum at sagittis lectus,
                      sit amet aliquam turpis. In quis elit tempus, semper
                      justo vitae, lacinia massa. Etiam sagittis quam quis
                      fermentum lacinia. Curabitur blandit sapien et risus
                      congue viverra. Mauris auctor risus sit amet cursus
                      sollicitudin. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Nulla feugiat sodales massa, in
                      viverra dolor condimentum ut. In imperdiet, justo nec
                      volutpat blandit, tellus justo tempor quam, sed
                      pretium nibh nunc nec mauris.

                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem enim accusamus voluptatum distinctio odio, repudiandae nulla non ex reiciendis quibusdam officiis blanditiis? Tempore cum consequuntur non eveniet illo nemo quia.
                    </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti consequuntur odio, officiis quasi id ducimus assumenda saepe recusandae suscipit repudiandae, nisi aspernatur officia, voluptatum quos! Blanditiis itaque fugit voluptatem ad molestiae doloremque voluptates deleniti odit, fugiat voluptas? Sapiente fugiat nam perspiciatis alias odio facilis? Maxime ea quis est fugiat iste!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
