<header class="header clearfix">
  <button type="button" id="toggleMenu" class="toggle_menu">
    <i class="uil uil-bars"></i>
  </button>
  <button id="collapse_menu" class="collapse_menu">
    <i class="uil uil-bars collapse_menu--icon"></i>
    <span class="collapse_menu--label"></span>
  </button>
  <div class="main_logo" id="logo">
    <a href="index.html"><img src="/assets/admin/images/logo.svg" alt="" /></a>
    <a href="index.html"
      ><img class="logo-inverse" src="/assets/admin/images/ct_logo.svg" alt=""
    /></a>
  </div>
  <div class="search120">
    <div class="ui search">
      <div class="ui left icon input swdh10">
        <input
          class="prompt srch10"
          type="text"
          placeholder="Search for Tuts Videos, Tutors, Tests and more.."
        />
        <i class="uil uil-search-alt icon icon1"></i>
      </div>
    </div>
  </div>
  <div class="header_right">
    <ul>
      <li>
        <a
          href="create_new_course.html"
          class="upload_btn"
          title="Create New Course"
          >Créez un nouveau cours</a
        >
      </li>
      <li class="ui dropdown">
        <a href="#" class="opts_account" title="Account">
          <img src="/assets/admin/images/hd_dp.jpg" alt="" />
        </a>
        <div class="menu dropdown_account">
          <div class="channel_my">
            <div class="profile_link">
              <img src="/assets/admin/images/hd_dp.jpg" alt="" />
              <div class="pd_content">
                <div class="rhte85">
                  <h6>Joginder Singh</h6>
                  <div class="mef78" title="Verify">
                    <i class="uil uil-check-circle"></i>
                  </div>
                </div>
                <span
                  ><a
                    href="https://gambolthemes.net/cdn-cgi/l/email-protection"
                    class="__cf_email__"
                    data-cfemail="3057515d525f5c09040370575d51595c1e535f5d"
                    >[email&#160;protected]</a
                  ></span
                >
              </div>
            </div>
          </div>
          <div class="night_mode_switch__btn">
            <a href="#" id="night-mode" class="btn-night-mode">
              <i class="uil uil-moon"></i> Night mode
              <span class="btn-night-mode-switch">
                <span class="uk-switch-button"></span>
              </span>
            </a>
          </div>
          <a href="instructor_dashboard.html" class="item channel_item"
            >Setting</a
          >
          <a href="instructor_dashboard.html" class="item channel_item"
            >Dashboard</a
          >
          <a href="sign_in.html" class="item channel_item">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</header>
