
  <div class="single_blog">
      <div class="blog_banner">
          <a href="#" title=""><img src="assets/images/blog/blog3-1.jpg" alt="" class="img-fluid"></a>
      </div>
      <div class="post_content_wrapper">
          <div class="post_date"><p>Publié le : Feb 14 2019 - <span>Education Category</span></p></div>
          <h3><a href="#" title="">Research of Learn training process</a></h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <div class="post_bloger post_by d-flex justify-content-between">
              <a href="#" title="">En savoir plus  <i class="flaticon-login-button"></i></a>
              <div class="social_wrapper d-flex">
                  <span>Partager : </span>
                  <ul class="social-items d-flex list-unstyled">
                    <li>
                        <a
                          target="_blank"
                          href="http://www.facebook.com/sharer/sharer.php?u=https://bakaricorp-rdc.com"
                          ><i class="fab fa-facebook-f fb_icon"></i
                        ></a>
                      </li>
                      <li>
                        <a  target="_blank" href="http://twitter.com/intent/tweet?original_referer=https://bakaricorp-rdc.com"><i class="fab fa-twitter tw_icon"></i></a>
                      </li>
                      <li>
                        <a  target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=https://bakaricorp-rdc.com"><i class="fab fa-linkedin-in link_icon"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="single_blog">
      <div class="blog_banner">
          <a href="#" title=""><img src="assets/images/blog/blog3-3.jpg" alt="" class="img-fluid"></a>
      </div>
      <div class="post_content_wrapper">
          <div class="post_date"><p>Posted On : Feb 14 2019 - <span>Education Category</span></p></div>
          <h3><a href="#" title="">Research of Learn training process</a></h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <div class="post_by d-flex justify-content-between">
              <a href="#" title="">Read More  <i class="flaticon-login-button"></i></a>
              <div class="social_wrapper d-flex">
                  <span>Share On : </span>
                  <ul class="social-items d-flex list-unstyled">
                      <li><a href="#"><i class="fab fa-facebook-f fb_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter tw_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in link_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram in_icon"></i></a></li>
                  </ul>
              </div>
          </div>
          <ul class="post_bloger">
              <li>BY : Jhon Dheo</li>
              <li><i class="fas fa-thumbs-up"></i> 2 Likes</li>
              <li><i class="fas fa-comment"></i>2 Comments</li>
          </ul>
      </div>
  </div>

  <div class="single_blog">
      <div class="blog_banner">
          <a href="#" title=""><img src="assets/images/blog/blog3-2.jpg" alt="" class="img-fluid"></a>
      </div>
      <div class="post_content_wrapper">
          <div class="post_date"><p>Posted On : Feb 14 2019 - <span>Education Category</span></p></div>
          <h3><a href="#" title="">Research of Learn training process</a></h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <div class="post_by d-flex justify-content-between">
              <a href="#" title="">Read More  <i class="flaticon-login-button"></i></a>
              <div class="social_wrapper d-flex">
                  <span>Share On : </span>
                  <ul class="social-items d-flex list-unstyled">
                      <li><a href="#"><i class="fab fa-facebook-f fb_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter tw_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in link_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram in_icon"></i></a></li>
                  </ul>
              </div>
          </div>
          <ul class="post_bloger">
              <li>BY : Jhon Dheo</li>
              <li><i class="fas fa-thumbs-up"></i> 2 Likes</li>
              <li><i class="fas fa-comment"></i>2 Comments</li>
          </ul>
      </div>
  </div>

  <div class="single_blog">
      <div class="blog_banner">
          <a href="#" title=""><img src="assets/images/blog/blog3-33.jpg" alt="" class="img-fluid"></a>
      </div>
      <div class="post_content_wrapper">
          <div class="post_date"><p>Posted On : Feb 14 2019 - <span>Education Category</span></p></div>
          <h3><a href="#" title="">Research of Learn training process</a></h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <div class="post_by d-flex justify-content-between">
              <a href="#" title="">Read More  <i class="flaticon-login-button"></i></a>
              <div class="social_wrapper d-flex">
                  <span>Share On : </span>
                  <ul class="social-items d-flex list-unstyled">
                      <li><a href="#"><i class="fab fa-facebook-f fb_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter tw_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in link_icon"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram in_icon"></i></a></li>
                  </ul>
              </div>
          </div>
          <ul class="post_bloger">
              <li>BY : Jhon Dheo</li>
              <li><i class="fas fa-thumbs-up"></i> 2 Likes</li>
              <li><i class="fas fa-comment"></i>2 Comments</li>
          </ul>
      </div>
  </div>
