<div class="blog-right-items">
  <div class="recent_post_wrapper widget_single">
    <div class="items-title">
      <h3 class="title">Articles Recentes</h3>
    </div>
    <% Array(3).fill(0).forEach(element => { %>
    <div class="single-post">
      <div class="recent_img">
        <a href="/blog/single" title=""
          ><img
            src="/assets/images/blog/side_blog_1.jpg"
            alt=""
            class="img-fluid"
        /></a>
      </div>
      <div class="post_title">
        <a href="/blog/single" title="">Research of Learn training process</a>
        <div class="post-date">
          <span>May 29, 2019</span>
        </div>
      </div>
    </div>

    <% }) %>
  </div>

  <div class="archives widget_single">
    <div class="items-title">
      <h3 class="title">Toutes Catégories</h3>
    </div>
    <div class="archives-items">
      <ul class="list-unstyled">
        <li><a href="/categories/blog/math" title="">Art & Design </a></li>
        <li><a href="/categories/blog/math" title="">Busness</a></li>
        <li><a href="/categories/blog/math" title="">IT & Software</a></li>
        <li><a href="/categories/blog/math" title="">Languages</a></li>
        <li><a href="/categories/blog/math" title="">Programming</a></li>
        <li><a href="/categories/blog/math" title="">Technology</a></li>
      </ul>
    </div>
  </div>

  <div class="twitter_post_wrapper widget_single">
    <div class="items-title">
      <h3 class="title">Suivez-nous</h3>
    </div>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/semainedelasciencerdc"
      data-tabs="timeline"
      data-width=""
      data-height=""
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/semainedelasciencerdc"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/semainedelasciencerdc"
          >Semaine de la Science et des Technologies en RDC</a
        >
      </blockquote>
    </div>

    <a
      class="twitter-timeline"
      data-lang="fr"
      data-height="1000"
      data-dnt="true"
      href="https://twitter.com/ScienceRDC?ref_src=twsrc%5Etfw"
      >Tweets by ScienceRDC</a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
</div>

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v10.0&appId=389356951410216&autoLogAppEvents=1"
  nonce="zZeceh94"
></script>
