<div class="pagination_blog">
  <ul>
      <li><a href="#">1</a></li>
      <li class="current"><a href="#">2</a></li>
      <li><a href="#" class=""><i class='flaticon-right-arrow'></i></a></li>
  </ul>
</div>
