<section
  class="section-banner-mobile"
  style="background: url('/assets/images/banner/banner_2.jpg')"
>
  <div class="container-banner-mobile">
    <div class="row">
      <div class="banner-title">
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
      </div>
      <div class="banner-btn">
        <a href="#">Devenir enseignent</a>
        <a href="#">Voir nos cours</a>
      </div>
    </div>
  </div>
</section>
