<header class="header_tow">
  
  <%- include('./headerTop') %> <%- include('./header') %>

  <div class="banner-desk"><%- include('./bannerDesk') %></div>
  <div class="banner-mobile"><%- include('./bannerMobile') %></div>
</header>
<!--  End header section-->
