<section class="courses_features">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Explore Top Subjects</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
          <div class="feature_single feature_single">
            <img src="/assets/images/features/courses_provide_1.jpg" alt="" />
            <div class="feature_content">
              <a href="#" title=""><h3>Design</h3></a>
              <p>Over 700 Courses</p>
            </div>
        </a>
      </div>
    </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
        <div class="feature_single feature_single">
          <img src="/assets/images/features/courses_provide_2.jpg" alt="" />
          <div class="feature_content">
            <a href="#" title=""><h3>Web Development</h3></a>
            <p>Over 500 Courses</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
        <div class="feature_single feature_single">
          <img src="/assets/images/features/courses_provide_3.jpg" alt="" />
          <div class="feature_content">
            <a href="#" title=""><h3>Marketing</h3></a>
            <p>Over 450 Courses</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
        <div class="feature_single feature_single">
          <img src="/assets/images/features/courses_provide_4.jpg" alt="" />
          <div class="feature_content">
            <a href="#" title=""><h3>Photography</h3></a>
            <p>Over 500 Courses</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
        <div class="feature_single feature_single">
          <img src="/assets/images/banner/banner_2.jpg" alt="" />
          <div class="feature_content">
            <a href="#" title=""><h3>Science</h3></a>
            <p>Over 1000 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
        <div class="feature_single feature_single">
          <img src="/assets/images/features/courses_provide_6.jpg" alt="" />
          <div class="feature_content">
            <a href="#" title=""><h3>Finance</h3></a>
            <p>Over 350 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="view_all_btn">
          <a href="categories">EN SAVOIR PLUS</a>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
  </div>
</section>
<!-- End Courses Features -->
