<section class="courses_features">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Explore Top Subjects</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
    <div class="row">
      <% Array(6).fill(0).forEach(element => { %>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 single_features_wrapper">
            <div class="feature_single feature_single">
              <img src="/assets/images/features/courses_provide_1.jpg" alt="" />
              <div class="feature_content">
                <a href="/cours/single" title=""><h3>Design</h3></a>
                <p>Over 700 Courses</p>
              </div>
          </a>
        </div>
        </div>
      <% }) %>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="view_all_btn">
          <a href="/categories/cours">EN SAVOIR PLUS</a>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
  </div>
</section>
<!-- End Courses Features -->
