<section class="latest_news_2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Latest Eduwise Posts</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>

      <% Array(4).fill(0).forEach(element => { %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="/cours/single" title=""
                ><img
                  src="/assets/images/courses/courses_5.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
              <div class="blog-cat-cont">
                <a class="category" href="/categories/cours/single"
                ><i class="fas fa-cubes"></i>Mathématiques</a
              >
              </div>
            </div>
            <h3 class="blog-title">
              <a href="/blog/single" title=""
                >How to Become Master In CSS within qa Week.</a
              >
            </h3>
            <p class="blog-p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fa fa-clock"></i>Il y a 5min</li>
              <li><a href="/blog/single" class="card_btn"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <% }) %>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="view_all_btn">
          <a href="blog">EN SAVOIR PLUS</a>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
  </div>
</section>
<!-- End Blog -->
