<section class="latest_news_2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Latest Eduwise Posts</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_5.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title=""
                >How to Become Master In CSS within qa Week.</a
              >
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-calendar"></i>13 Mai 2021</li>
              <li>
                <a href="#"><i class="fas fa-cubes"></i>Bourses</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_6.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title="">Students work together to solve a problem</a>
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-user"></i>Jhon Dheo</li>
              <li><i class="fas fa-comment"></i>0 Comments</li>
              <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
            </ul>
          </div>
          <div class="twitter_post">
            <div class="blog_title">
              <div class="icon_wrapper">
                <i class="fab fa-twitter twitt-icon"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                dictum rutrum nec nisi et.
              </p>
              <a href="#" title="">https://t.co/djPsTmfgh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_4.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title="">Magazine Design Start to Finish The Cover</a>
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-user"></i>Jhon Dheo</li>
              <li><i class="fas fa-comment"></i>0 Comments</li>
              <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
            </ul>
          </div>
          <div class="twitter_post">
            <div class="blog_title">
              <div class="icon_wrapper">
                <i class="fab fa-twitter twitt-icon"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                dictum rutrum nec nisi et.
              </p>
              <a href="#" title="">https://t.co/djPsTmfgh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_3.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title="">Magazine Design Start to Finish The Cover</a>
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-user"></i>Jhon Dheo</li>
              <li><i class="fas fa-comment"></i>0 Comments</li>
              <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
            </ul>
          </div>
          <div class="twitter_post">
            <div class="blog_title">
              <div class="icon_wrapper">
                <i class="fab fa-twitter twitt-icon"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                dictum rutrum nec nisi et.
              </p>
              <a href="#" title="">https://t.co/djPsTmfgh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_1.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title=""
                >Adobe Dimension Essential Training The Basics</a
              >
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-user"></i>Jhon Dheo</li>
              <li><i class="fas fa-comment"></i>0 Comments</li>
              <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
            </ul>
          </div>
          <div class="twitter_post">
            <div class="blog_title">
              <div class="icon_wrapper">
                <i class="fab fa-twitter twitt-icon"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                dictum rutrum nec nisi et.
              </p>
              <a href="#" title="">https://t.co/djPsTmfgh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="single_item">
          <div class="item_wrapper">
            <div class="blog-img">
              <a href="#" title=""
                ><img
                  src="/assets/images/courses/courses_2.jpg"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <h3>
              <a href="#" title=""
                >How to Become Master In CSS within qa Week.</a
              >
            </h3>
          </div>
          <div class="blog_title">
            <ul class="post_bloger">
              <li><i class="fas fa-user"></i>Jhon Dheo</li>
              <li><i class="fas fa-comment"></i>0 Comments</li>
              <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
            </ul>
          </div>
          <div class="twitter_post">
            <div class="blog_title">
              <div class="icon_wrapper">
                <i class="fab fa-twitter twitt-icon"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                dictum rutrum nec nisi et.
              </p>
              <a href="#" title="">https://t.co/djPsTmfgh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="view_all_btn">
          <a href="blog">EN SAVOIR PLUS</a>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
  </div>
</section>
<!-- End Blog -->
