<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0">
        <div class="shape_wrapper">
          <img
            src="/assets/images/shapes/bubble_shpe_1.png"
            alt=""
            class="shape_t_1"
          />
          <img
            src="/assets/images/shapes/round_shpae_1.png"
            alt=""
            class="shape_t_2"
          />
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-9 col-lg-9 p-0 become_techer_wrapper">
        <div class="become_a_teacher">
          <div class="title">
            <h2>Become A Instructor</h2>
            <p>
              Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
              viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum
              rutrum nec nisi et.
            </p>
          </div>
          <!-- ends: .section-header -->
          <div class="get_s_btn">
            <a href="#" title="">Get Started Now</a>
          </div>
          <img
            src="/assets/images/shapes/bubble_shpe_2.png"
            alt=""
            class="shape_t_1"
          />
        </div>
      </div>
    </div>
    <div class="footer_top">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="footer_single_col footer_intro">
            <img src="/assets/images/logo-sst8.png" alt="" class="f_logo" />
            <p>
              Ante amet vitae vulputate odio nulla vel pretium pulvinar aenean.
              Rhoncus eget adipiscing etiam arcu. Ultricies justo ipsum nec
              amet.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <div class="footer_single_col">
            <h3>Useful Links</h3>
            <ul class="location_info quick_inf0">
              <li><a href="/about">À propos de nous</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/cours">Cours</a></li>
              <li><a href="/signin">Connexion</a></li>
              <li><a href="/signup">Insciption</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <div class="footer_single_col information">
            <h3>information</h3>
            <ul class="quick_inf0">
              <li><a href="#">Campus Tour</a></li>
              <li><a href="#">Student Life</a></li>
              <li><a href="#">Scholarship</a></li>
              <li><a href="#">Admission</a></li>
              <li><a href="#">Leadership</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="footer_single_col contact">
            <h3>Contact Us</h3>
            <p>Fell free to get in touch us via Phone or send us a message.</p>
            <div class="contact_info">
              <span>+000 124 325</span>
              <span class="email"
                ><a href="mailto:info@eduwise.com">info@eduwise.com</a></span
              >
            </div>
            <ul class="social_items d-flex list-unstyled">
              <li>
                <a href="#"><i class="fab fa-facebook-f fb-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter twitt-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in link-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram ins-icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="round_shape">
    <span class="shape_1"></span>
    <span class="shape_2"></span>
    <span class="shape_3"></span>
    <span class="shape_4"></span>
    <span class="shape_5"></span>
    <span class="shape_6"></span>
  </div>
  <img
    src="/assets/images/shapes/footer_bg_shpe_1.png"
    alt=""
    class="shapes1_footer"
  />
  <div class="copyright-container col-12 col-md-12 col-lg-12">
    <div class="row d-flex justify-content-center">
      <div class="copyright">
         <p> Copyright <%= new Date().getFullYear() %>  &copy; SST8 Designed By <a href="#">Uptodate Developpers</a></p>
        <p class="luccin"> Copyright 2021  &copy; SST8 Designed By <a href="#">Luccin Masirika</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->


<section id="scroll-top" class="scroll-top">
  <h2 class="disabled">Scroll to top</h2>
  <div class="to-top pos-rtive">
    <a href="#"><i class="flaticon-right-arrow"></i></a>
  </div>
</section>
