<div class="edu_nav">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <a class="navbar-brand" href="/"
        ><img src="/assets/images/logo-sst8.png" alt="logo"
      /></a>
      <div
        class="collapse navbar-collapse main-menu"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav nav lavalamp ml-auto menu">
          <li class="nav-item">
            <a href="/" class="nav-link active">Accueil</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">À propos de nous </a>
          </li>
          <li class="nav-item">
            <a href="/cours" class="nav-link">Cours</a>
          </li>
          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="mr-auto search_area">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="/cours/recherche"
              ><i class="search_btn flaticon-magnifier"></i
            ></a>
            <div id="search">
              <button type="button" class="close">×</button>
              <form>
                <input type="search" value="" required />
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END NAVBAR -->
  </div>
</div>
