<meta charset="UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="HTML,CSS,XML,JavaScript" />
<meta name="author" content="Ecology Theme" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Semaine de la science et des technologies</title>
<link
  rel="shortcut icon"
  href="/assets/images/logo-sst8.png"
  type="image/x-icon"
/>
<!-- Goole Font -->
<link
  href="https://fonts.googleapis.com/css?family=Rubik:400,500,700"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
  rel="stylesheet"
/>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/assets/bootstrap.min.css" />
<!-- Font awsome CSS -->
<link rel="stylesheet" href="/assets/css/assets/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/css/assets/flaticon.css" />
<link rel="stylesheet" href="/assets/css/assets/magnific-popup.css" />
<!-- owl carousel -->
<link rel="stylesheet" href="/assets/css/assets/owl.carousel.css" />
<link rel="stylesheet" href="/assets/css/assets/owl.theme.css" />
<link rel="stylesheet" href="/assets/css/assets/animate.css" />
<!-- Slick Carousel -->
<link rel="stylesheet" href="/assets/css/assets/slick.css" />

<!-- Revolution Slider -->
<link rel="stylesheet" href="/assets/css/assets/revolution/layers.css" />
<link rel="stylesheet" href="/assets/css/assets/revolution/navigation.css" />
<link rel="stylesheet" href="/assets/css/assets/revolution/settings.css" />
<!-- Mean Menu-->
<link rel="stylesheet" href="/assets/css/assets/meanmenu.css" />
<!-- main style-->
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/responsive.css" />
<link rel="stylesheet" href="/assets/css/custom.css" />
