<section class="meet_our_team">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="meet_team_wrapper">
          <div class="sub_title">
            <h2>Meet Our Instractor</h2>
            <p>
              Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
              viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum
              rutrum nec nisi et.
            </p>
          </div>
          <!-- ends: .section-header -->
          <div class="envent_all_view">
            <a href="/instructeurs" title="">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% Array(6).fill(0).forEach(element => { %>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="testimonial_single card-profs">
            <div class="reviewer_info">
              <div class="pro_pic_teacher">
                <img src="/assets/images/team/team_6.jpg" alt="2"  />
              </div>
              <div class="name_position">
                <span class="name"><a href="javascript:void();" title="">Matthew Reck</a></span>
                <span>Marketing Teacher</span>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <div class="shape_wrapper">
    <img src="/assets/images/shapes/testimonial_2_shpe_2.png" alt="" class="shape_1" />
    <img src="/assets/images/shapes/testimonial_2_shpe_3.png" alt="" class="shape_2" />
    <img src="/assets/images/shapes/testimonial_2_shpe_1.png" alt="" class="shape_3" />
  </div>
</section>
<!-- End Meet Our Team -->
