<section class="section_member_ship">
  <div class="row member-ship-row">
    <div class="col-lg-5 col-sm-12 col-md-12 member_ship">
      <div class="member_ship_container">
        <h3>Membership</h3>
        <h2>Start your Learning Journey Today!</h2>
        <p>with a free 7-day trial, then $14.99/month.</p>
        <a href="#">JOIN US</a>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 col-md-12 card_container">
      <div class="card_content">
        <div class="row">
          <div class="col-md-6">
            <div class="card-item">
              <div class="card-item-icon">
                <img
                  src="/assets/images/icons/2.png"
                  alt=""
                  class="card-img-icon"
                />
              </div>
              <div class="card-item-content">
                <h6>A litle title</h6>
                <p>Put a short description here</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-item">
              <div class="card-item-icon">
                <img
                  src="/assets/images/icons/3.png"
                  alt=""
                  class="card-img-icon"
                />
              </div>
              <div class="card-item-content">
                <h6>A litle title</h6>
                <p>Put a short description here</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-item">
              <div class="card-item-icon">
                <img
                  src="/assets/images/icons/3.png"
                  alt=""
                  class="card-img-icon"
                />
              </div>
              <div class="card-item-content">
                <h6>A litle title</h6>
                <p>Put a short description here</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-item">
              <div class="card-item-icon">
                <img
                  src="/assets/images/icons/1.png"
                  alt=""
                  class="card-img-icon"
                />
              </div>
              <div class="card-item-content">
                <h6>A litle title</h6>
                <p>Put a short description here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
