<section class="our_sponsor">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sub_title">
          <h2>Trusted To Tell Their Story</h2>
          <p>
            Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
            Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
            nisi et.
          </p>
        </div>
        <!-- ends: .section-header -->
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="sponsored_company_logos">
          <li>
            <img
              src="/assets/images/logos/logo-1.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".1s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-2.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".2s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-3.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".3s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-4.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".6s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-5.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".5s"
            />
          </li>
        </ul>
        <ul class="sponsored_company_logos sponsored_company_logos_2">
          <li>
            <img
              src="/assets/images/logos/logo-6.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".4s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-7.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".3s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-8.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".6s"
            />
          </li>
          <li>
            <img
              src="/assets/images/logos/logo-9.png"
              alt=""
              class="img-fluid wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".5s"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ./ End Our Sponsor -->
