<section class="faq_about">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="sub_title">
                  <h2>Frequently asked Questions</h2>
                  <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et.</p>
              </div><!-- ends: .section-header -->
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-12 col-sm-12 col-md-10">
              <div class="faq_wrapper">
                  <div class="single_faq">
                      <h3><span>1</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecLorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
                  <div class="single_faq">
                      <h3><span>2</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pedsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
                   <div class="single_faq">
                      <h3><span>3</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phaselsit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
                  <div class="single_faq">
                      <h3><span>4</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phaseamet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
                  <div class="single_faq">
                      <h3><span>5</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus egelis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
                   <div class="single_faq">
                      <h3><span>6</span>What is the refund policy?</h3>
                      <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget maecenas.</p>
                  </div>
               </div>
          </div>
      </div>
  </div>
</section>
