<!--========={ Register Area }========-->
<section class="register_area">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <div class="row">
          <div class="form-full-box">
            <div class="form_title">
              <h2>Become A Membar</h2>
              <p>Get Instant access to <span>5000+ </span>Video courses</p>
            </div>
            <form>
              <div class="register-form">
                <div class="row">
                  <div class="col-12 col-xs-12 col-md-12">
                    <div class="form-group">
                      <label><i class="fas fa-user"></i></label>
                      <input
                        class="form-control"
                        name="name"
                        placeholder="Write Your Name"
                        required=""
                        type="text"
                      />
                    </div>
                  </div>

                  <div class="col-12 col-xs-12 col-md-12">
                    <div class="form-group">
                      <label><i class="flaticon-email"></i></label>
                      <input
                        class="form-control"
                        name="email"
                        placeholder="Write Your E-mail"
                        required=""
                        type="email"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-xs-12 col-md-12">
                    <div class="form-group massage_text">
                      <label><i class="flaticon-copywriting"></i></label>
                      <textarea
                        class="form-control"
                        placeholder="Write Something Here"
                        required=""
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-12 col-xs-12 col-md-12 register-btn-box">
                    <button class="register-btn" type="submit">Send Now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 form-content">
        <h2>All study opportunities<br />in one single place</h2>
        <p>
          Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
          Pede phasellus<br />
          eget.felis dapibus arcu donec viverra. Pede phasellus eget. Etiam
          maecenas vel<br />
          vici quis dictum rutrum nec nisi et.
        </p>
        <div class="count_student">
          <div class="single_count">
            <span class="counter">54000</span>
            <span class="department_name">Students</span>
          </div>
          <div class="single_count">
            <span class="counter">1650</span>
            <span class="department_name">Scholarships</span>
          </div>
          <div class="single_count">
            <span class="counter">150</span>
            <span class="department_name">Courses</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ End Register Area section -->
